<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div data-controller="trainings">
        <button class="activity-btn" data-action="click->trainings#displayForm" data-target="trainings.addBtn">Add an activity</button>
        <%= render '/shared/trainings/form' %>
      </div>

      <div id="trainings">
        <h3>Latest activities</h3>
        <% @trainings.each do |training| %>
          <div class="activity activity-<%= training.sport.downcase %>">
            <%= training.sport %> - 
            <%= training.date.strftime('%A %e %B %Y') %> <br>
            <%= training.distance %>km - 
            <%= training.time %>
            <%= "- #{training.ascending_elevation}m" if training.ascending_elevation %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
