<div class="table">
  <div class="table-core">
    <div class="table-head">
      <div class="d-flex">
        <div class="table-head-item"></div>
        <div class="table-head-item">Trainings</div>
        <div class="table-head-item">Time</div>
        <div class="table-head-item">Distance</div>
      </div>
    </div>
    <div class="table-body">
      <div class="d-flex">
        <div class="table-body-item">Swim</div>
        <div class="table-body-item"><%= @data_week[:swim][:sessions] %></div>
        <div class="table-body-item"><%= Convertor::ConvertSecondsInString.call(@data_week[:swim][:time]) %></div>
        <div class="table-body-item"><%= @data_week[:swim][:distance] %> kms</div>
      </div>
      <div class="d-flex">
        <div class="table-body-item">Bike</div>
        <div class="table-body-item"><%= @data_week[:bike][:sessions] %></div>
        <div class="table-body-item"><%= Convertor::ConvertSecondsInString.call(@data_week[:bike][:time]) %></div>
        <div class="table-body-item"><%= @data_week[:bike][:distance] %> kms</div>
      </div>
      <div class="d-flex">
        <div class="table-body-item">Run</div>
        <div class="table-body-item"><%= @data_week[:run][:sessions] %></div>
        <div class="table-body-item"><%= Convertor::ConvertSecondsInString.call(@data_week[:run][:time]) %></div>
        <div class="table-body-item"><%= @data_week[:run][:distance] %> kms</div>
      </div>
      <div class="d-flex">
        <div class="table-body-item">Gym</div>
        <div class="table-body-item"><%= @data_week[:gym][:sessions] %></div>
        <div class="table-body-item"><%= Convertor::ConvertSecondsInString.call(@data_week[:gym][:time]) %></div>
        <div class="table-body-item"><%= @data_week[:gym][:distance] %> kms</div>
      </div>
      <div class="d-flex">
        <div class="table-body-item">TOTAL</div>
        <div class="table-body-item"><%= @data_week[:totals][:sessions] %></div>
        <div class="table-body-item"><%= Convertor::ConvertSecondsInString.call(@data_week[:totals][:time]) %></div>
        <div class="table-body-item"><%= @data_week[:totals][:distance] %> kms</div>
      </div>
    </div>
  </div>
</div>
